header{
  width: 100%;
  background-color: #0091ed;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
ul{
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 0 100px;
  width: 100%;
}
a{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
