<div class="container">
  <lib-ng-toast></lib-ng-toast>
  <div class="card-table">
      <div class="add-item">
          <button class="btn-success" (click)="showModal()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar novo Produto</button>
      </div>
    <table>
      <thead>
        <tr>
          <th style="width:10%">ID</th>
          <th style="width:40%">Nome</th>
          <th style="width:30%">Tipo</th>
          <th style="width:30%">Valor</th>
          <th style="width:20%">Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="items">
        <tr *ngFor="let item of items; let i = index">
            <td style="width:10%">{{  item.id }}</td>
            <td style="width:40%">{{  item.nome }}</td>
            <td style="width:30%">{{  item.tipo_nome }}</td>
            <td style="width:30%">{{  item.valor }}</td>
            <td style="width:20%;">
              <div style="display: flex; flex-direction:collumn; gap: 10px;">
                <button class="btn-min-editar" (click)="edit(item.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                <button class="btn-min-remover" (click)="delete(item.id)"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="modal" *ngIf="modal">
  <form class="form" [formGroup]="formGroup">
   <ul>
     <li>
       <label>Nome:</label>
       <input type="text" formControlName="nome">
       <div *ngIf="formGroup.controls['nome'].errors?.['required']
                    && formGroup.controls['nome'].touched">
        <p class="error">Campo obrigatório</p>
      </div>
      <div *ngIf="formGroup.controls['nome'].errors?.['minlength']">
         <p class="error">Preencha com no mínimo 6 caracteres</p>
     </div>
     </li>
     <li>
      <label>Tipo:</label>
      <ng-select  formControlName="tipo_id">
        <ng-option *ngFor="let tipo of selectTipos" [value]="tipo.id">{{tipo.nome}}</ng-option>
     </ng-select>
     <div *ngIf="formGroup.controls['tipo_id'].errors?.['required']
                    && formGroup.controls['tipo_id'].touched">
        <p class="error">Campo obrigatório</p>
      </div>
     </li>
     <li>
       <label>Valor:</label>
       <input type="text" formControlName="valor">
       <div *ngIf="formGroup.controls['valor'].errors?.['required']
                    && formGroup.controls['valor'].touched">
        <p class="error">Campo obrigatório</p>
      </div>
     </li>
   </ul>
   <div class="form-actions">
      <button class="btn-clear" (click)="hideModal()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      <button class="btn-success" (click)="create()"  [disabled]="!formGroup.valid"   *ngIf="action === 'new' else tempEdit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
   </div>
</form>
</div>
<ng-template #tempEdit>
  <button class="btn-success" (click)="update()"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
</ng-template>
