<div class="container">
  <lib-ng-toast></lib-ng-toast>
  <div class="carrinho">
    <form class="form" [formGroup]="formGroup">
      <ul>
        <li>
          <label>Produto:</label>
          <ng-select  formControlName="produto_id">
            <ng-option *ngFor="let item of selectProdutos" [value]="item.id">{{item.nome}}</ng-option>
          </ng-select>
          <div *ngIf="formGroup.controls['produto_id'].errors?.['required']
                      && formGroup.controls['produto_id'].touched">
              <p class="error">Campo obrigatório</p>
          </div>
        </li>
        <li>
          <label>Quantidade:</label>
          <input type="number" formControlName="quantidade" min="1">
          <div *ngIf="formGroup.controls['quantidade'].errors?.['required']
                      && formGroup.controls['quantidade'].touched">
              <p class="error">Campo obrigatório</p>
          </div>
          <div *ngIf="formGroup.controls['quantidade'].errors?.['min']
                      && formGroup.controls['quantidade'].touched">
              <p class="error">Campo não pode ter números negativos</p>
          </div>
        </li>
      </ul>
      <div class="form-actions">
         <button class="btn-clear" (click)="clear()"><i class="fa fa-trash" aria-hidden="true"></i> Limpar</button>
         <button class="btn-submit" (click)="create()"  [disabled]="!formGroup.valid"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
      </div>
      <div class="form-actions">
        <button class="btn-success" (click)="finishSale()"  [disabled]="items.length === 0"><i class="fa fa-check" aria-hidden="true"></i> Concluir compra</button>
     </div>
   </form>
  </div>
  <div class="card-table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Preço unitario</th>
          <th>Impostos</th>
          <th>Valor Total</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="items.length > 0 else tabelaVazia">
        <tr *ngFor="let item of items; let i = index">
            <td>{{  item.id }}</td>
            <td>{{  item.descricao }}</td>
            <td>{{  item.quantidade }}</td>
            <td>{{  item.preco_unitario | currency:'BRL' }}</td>
            <td>{{  item.impostos | currency:'BRL' }}</td>
            <td>{{  item.valor_total | currency:'BRL' }}</td>
            <td>
              <button class="btn-min-remover" (click)="remove(i)"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
            </td>
        </tr>
      </tbody>
    </table>


    <div class="total-nota" *ngIf="items.length > 0">
      <table>
          <tbody>
            <tr>
              <td>Total de produtos</td>
              <td><p>{{ qtdNota }}</p></td>
            </tr>
            <tr>
              <td>Total de imposto:</td>
              <td><p>{{ totalImposto | currency:'BRL' }}</p></td>
            </tr>
            <tr>
              <td><strong>Total pago:</strong></td>
              <td><strong>{{ totalNota | currency:'BRL' }}</strong></td>
            </tr>

          </tbody>
      </table>
  </div>
  </div>
</div>
<ng-template #tabelaVazia>
  <tbody>
    <tr>
      <td colspan="7" style="text-align:center"> NENHUM PRODUTO ADICIONADO</td>
    </tr>
  </tbody>
</ng-template>
