<div class="container">
  <div class="card-table">
      <div class="add-item">
          <button class="btn-submit" (click)="showModal()">Cadastrar Novo Tipo</button>
      </div>
    <table>
      <thead>
        <tr>
          <th style="width:10%">ID</th>
          <th style="width:40%">Nome</th>
          <th style="width:30%">Imposto</th>
          <th style="width:20%">Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="items">
        <tr *ngFor="let item of items; let i = index">
            <td style="width:10%">{{  item.id }}</td>
            <td style="width:40%">{{  item.nome }}</td>
            <td style="width:30%">{{  item.imposto }}</td>
            <td style="width:20%;">
              <div style="display: flex; flex-direction:collumn; gap: 10px;">
                <button class="btn-min-editar" (click)="edit(item.id)">Editar</button>
                <button class="btn-min-remover" (click)="delete(item.id)">Remover</button>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="modal" *ngIf="modal">
  <form class="form" [formGroup]="formGroup">
   <ul>
     <li>
       <label>Nome:</label>
       <input type="text" formControlName="nome">
     </li>
     <li>
       <label>Imposto:</label>
       <input type="text" formControlName="imposto">
     </li>
   </ul>
   <div class="form-actions">
      <button class="btn-cancel" (click)="hideModal()">Cancelar</button>
      <button class="btn-submit" (click)="create()"  [disabled]="!formGroup.valid"   *ngIf="action === 'new' else tempEdit">Salvar</button>
   </div>
</form>
</div>
<ng-template #tempEdit>
  <button class="btn-editar" (click)="update()">Editar</button>
</ng-template>
